<h1>Private Events</h1>

<% if logged_in? %>
  <h4><%= link_to "Create new envent", new_event_path %></h4>
<% end %>

<div id="events-table">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Date</td>
        <td>Title</td>
        <td>Location</td>
        <td>Host</td>
      </tr>
    </thead>

    <% @events.each do |event| %>
      <tr>
        <td><%= event.date %></td>
        <td><%= link_to event.name, event_path(event)  %></td>
        <td><%= event.location  %></td>
        <td><%= User.find(event.user_id).name %></td>
      </tr>
    <% end %>   
  </table>
</div>
