<h1><center>Create a new event</center></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event) do |f| %>

      <%= f.label :date %>
      <%= f.text_field :date, class: 'form-control' %>

      <%= f.label :name %>
      <%= f.email_field :name, class: 'form-control' %>

      <%= f.label :location %>
      <%= f.email_field :location, class: 'form-control' %>

      <%= f.label :description %>
      <p><%= f.email_field :description, class: 'form-control' %></p>
      
      <p><%= f.submit "Create event", class: "btn btn-primary center-block"  %></p>
    <% end %>
  </div>
</div>
