<h3><%= @event.name %></h3>

<div id="events-details">
  <p><b>Location: </b><%= @event.location %></p>
  <p><b>Host: </b><%= @event.creator.name %></p>
  <p><b>Date: </b><%= @event.date %></p>
  <p><b>Description: </b><%= @event.description %></p>

  <% if @event.future_event? %>
    <p><b>List of attendees:</b><p>
    <% if @event.has_attendees? %>
      <% @event.attendees.each do |attendee| %>
        <ul>
          <li> <%= attendee.name %> </li>
        </ul>
      <% end %>
    <% else %>
      <p>No one is attending this event.</p>
    <% end %>
    <%= render 'shared/attend' %>
  <% end %>

  <% if !@event.future_event? %>
    <p><b>Attended people:</b></p>
    <% if @event.has_attendees? %>
      <% @event.attendees.each do |attendee| %>
        <ul>
          <li> <%= attendee.name %> </li>
        </ul>
      <% end %>
    <% else %>
      <p>No one attended this event</p>
    <% end %>
  <% end %>
</div>
