<%= image_tag @movie.image.url(:medium) %>
<h3><%= @movie.title %></h3>
<p><b>Description: </b><%= @movie.description %></p>
<p><b>Length: </b><%= @movie.length %> minutes</p>
<p><b>Director: </b><%= @movie.director %></p>
<p><b>Rating: </b><%= @movie.rating %></p>
