<h2>My Events</h2>

<% if @user.created_events.any? %>
  <div id="events-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Date</td>
          <td>Title</td>
          <td>Location</td>
          <td>Host</td>
        </tr>
      </thead>
      <% @user.created_events.each do |event| %>
        <tr>
          <td><%= event.date %></td>
          <td><%= link_to event.name, event_path(event)  %></td>
          <td><%= event.location  %></td>
          <td><%= event.creator.name %></td>
        </tr>
      <% end %>   
    </table>
  </div>
<% else %>
  <h5>You haven't created any event yet</h5>
<% end %>

<h2>Attending Events</h2>

<% if @user.attended_events.any? %>
  <div id="events-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Date</td>
          <td>Title</td>
          <td>Location</td>
          <td>Host</td>
        </tr>
      </thead>
      <% @user.attended_events.each do |event| %>
        <tr>
          <td><%= event.date %></td>
          <td><%= link_to event.name, event_path(event)  %></td>
          <td><%= event.location  %></td>
          <td><%= event.creator.name %></td>
        </tr>
      <% end %>   
    </table>
  </div>
<% else %>
  <h5>You haven't scheduled any events yet.</h5>
<% end %>
