<!DOCTYPE html>
<html>
<head>
  <title>MovieReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if user_signed_in? %>
      <%= link_to current_user.email << " (logout)", destroy_user_session_path, :method => :delete %>
    <% else %>
      <p> Not logged in. Please <%= link_to "login", new_user_session_path %> or <%= link_to "register", new_user_registration_path %> </p>
    <% end %>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
