<!DOCTYPE html>
<html>
<head>
  <title>PrivateEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if logged_in? %>
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "User page", user_path(:id => current_user.id) %><li>
        <li><%= link_to current_user.name << " (logout)", logout_path %></li>
      </ul>
    <% else %>
      <p> Not logged in. Please <%= link_to "login", login_path %> or <%= link_to "register", new_user_path %> </p>
    <% end %>
  </header>

  <% flash.each do |key, value| %>
    <div id="flash" class="alert alert-danger"><center><%= value %></center></div>
  <% end %>

  <%= yield %>

</body>
</html>
